@import url('https://fonts.google.com/selection?selection.family=Lato');

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 20px;
}

main {
    padding: 20px 100px;
}

.content p {
    margin-bottom: 5px;
}

button {
    margin-top: 0;
    background: none;
    border: 1px solid #ec5353;
    border-radius: 15px;
    color: #ec5353;
    padding: 5px 10px;
}

button:hover {
    color: white;
    background-color: #ec5353;
    cursor: pointer;
}

.content {
    display: inline;
    float: left;
    width: 70%;
    margin-right: 20px;
}

.content p {
    text-align: justify;
}

article img {
    width: 70%;
}

.date {
    padding: 0;
    margin: 0;
}

aside {
    display: inline;
    float: right;
    width: 25%;
}

aside img {
    width: 100%;
}

aside p {
    padding-bottom: 20px;
}

h1 {
    font-size: 18px;
}

